<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_list' %}">Main Page</a>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for todos in todos_list %}
                <tr>
                    <td>{{ todos.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>
